<%= provide(:title, 'All adverts') %>
<h1>All adverts</h1>
<%= will_paginate %>
  <table class = "table table-condensed table-striped">
  	<tr><th>Position</th><th>Posted by</th><th>when</th></tr>
  	<% @adverts.each do |advert| %>
    <tr><td><%= link_to advert.heading, advert %></td>
        <td><%= link_to Association.find(advert[:association_id]).name, Association.find(advert[:association_id])%></td>
        <td><%= time_ago_in_words(advert.created_at) %> ago.</td>
		<% if can? :destroy, @advert %>
		<td><%= link_to "Delete", @advert, confirm: 'Are you sure?', method: :delete %></td></tr>
		<% end %>
    </tr>
  <% end %>
</table>
		<% if can? :create , Advert %>
		<p><%= link_to "Create new advert", new_advert_path %></p>
		<% end %>

<%= will_paginate %>

