
<% provide(:title, @advert.heading) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @advert.heading %>
			</h1>
			<p class="italics" >This advert was posted by: <%= link_to @association.name, @association %>
			</p>
			<% if !@advert.description.empty? %>
			<h2>Description</h2>
			<p><%=@advert.description%></p>
			<% end%>      

			<% if !@advert.profile.blank? %>
			<h2>Your profile</h2>
			<p><%= @advert.profile%></p>
			<% end%>      
			<h2>Details</h2>
			<% if !@advert.location.blank? %>
			<p><span class="bold">Location: </span><span> <%= @advert.location%></span></p>
			<% end%>      
			<% if !@advert.comprehensiveness.blank? %>
			<p><span class="bold">Comprehensiveness: </span><span><%= @advert.comprehensiveness%></span></p>
			<% end%>      
			<% if !@advert.start.blank? %>
			<p><span class="bold">Start:</span> <span> <%= @advert.start%></span></p>
			<% end%>      
			<% if !@advert.end.blank? %>
			<p><span class="bold">End:</span> <span> <%= @advert.end%></span></p>
			<% end%>      
			<% if !@advert.contact.blank? %>
			<p><span class="bold">Contact:</span> <span> <%= @advert.contact%></span></p>
			<% end%>         
			<% if !@advert.applicationDeadline.blank? %>
		    <p><span class="bold">Apply before:</span> <span> <%= @advert.applicationDeadline%></span></p>
		      <% end%>      
		      <% if !@advert.applicationLink.blank? %>
		        <% if !@current_user.nil? %>
		        <p><span class="bold">Apply here:</span> <span> <%=link_to @advert.applicationLink%></span></p>
		        <% else %>
		        <h3>Sign in to view application link</h3>
		        <% end %>
		      <% end%>    

			<p class="italics"> Created at: <%=@advert.created_at%></p>
			<p class="italics"> Updated at: <%=@advert.updated_at%></p>
		</section>
	</aside>
</div>
	<% if can? :update, @advert %>
	<p><%= link_to "Edit", edit_advert_path %></p>
	<% end %>
	<% if can? :destroy, @advert %>
	<p><%= link_to "Delete", @advert, confirm: 'Are you sure?', method: :delete %></p>		

	<% end %>
