<h2>Administators of this association</h2>
<% @association.users.each do |user| %>
  <p><%= user.liuid %></p>

 
<% end%>

<p>Add another admin:</p>

<!--  <div class="span6 offset3">
    <%= #form_for(@association.check_and_add_admin(:liuid)) do |f| 
    %>

      <%= #f.label "Liuid" 
      %>
      <%= #f.text_field :liuid 
      %>
     


      <%= # f.submit "Add new admin", class: "btn btn-large btn-primary" 
      %>
    <% #end 
    %>
-->
  </div>