<h2>Administators</h2>
 <ul><% @association.users.each do |user| %>
 <li><%= user.liuid %></li>
<% end %>
</ul>
<p> Add another user:</p>
<!--<div class="span6 offset3">
    <%= #form_for(@association.check_and_add_admin(:liuid)) do |f| 
    %>

      <%= #f.label "Liuid" 
      %>
      <%= #f.text_field :liuid 
      %>
     


      <%= # f.submit "Add new admin", class: "btn btn-large btn-primary" 
      %>
    <% #end 
    %>
</div>-->