  <div class="span6 offset3">
    <%= form_for(@association) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <% if can? :manage, :all %>     
        <%= f.label :name %>
        <%= f.text_field :name %>
      <% else %>
      <h2><%=@association.name%></h2>
      <% end %>

      <%= f.label :info %>
      <%= f.text_area :info %>

      <%= f.label "Web site" %>
      <%= f.text_field :webPage %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>