  <div class="span6 offset3">
    <%= simple_form_for(@association) do |f| %>
      <%= render 'shared/error_messages' %>
     
      <%= f.input :name %>

      <%= f.input :info, :as => :text %>


      <%= f.input :webPage %>

      <%= f.button :submit, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>