
<% provide(:title, @association.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @association.name %>
			</h1>
			<h2>Info</h2>
			<p>
				<%= @association.info %>
			</p>
			<p> Web page: <a href=<%= @association.webPage%> >
				<%= @association.webPage%>
			</a></p>
			<nav>
				<ul>
					<% if can? :update, @association %>
					<li><%= link_to "Edit", edit_association_path(@association) %></li>
					<% end %>
					<% if can? :destroy, @association %>
					<li><%= link_to "Destroy", @association, confirm: 'Are you sure?', method: :delete %></li>
					<% end %>
				</ul>
			</nav>
			<div class="admins">
		           <% if can? :update, @association %>
		              <%= render 'admin' %>
		           <% end%>
            </div>
		</section>
	</aside>
	<div class="span8">
		<h2>Adverts (<%= @association.adverts.count %>)</h2>
		<% if @association.adverts.any? %>
		<ol class="adverts">
			<%= render @adverts %>
		</ol>
		<%= will_paginate @adverts %>
		<% else %>
		<p>No adverts</p> 
		<% end %>
	</div>
</div>
